@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@font-face {
  font-family:"Chicago";
  src:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2989272/chikarego2-webfont.ed446049.woff2) format("woff2"),
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2989272/chikarego2-webfont.bfc0d735.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Syne-Regular";
  src: url("/fonts/syne/syne/Webfonts/Syne-Regular.woff2") format("woff2"),
       url("/fonts/syne/syne/Webfonts/Syne-Regular.woff") format("woff");
}
@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');

body {
  background-color: $light-gray;
  font-family: $site-font;
  cursor: url(../images/cursor.svg) 3 0,auto!important;
  background-image: url(../images/bg.svg)!important;
  background-color: blueviolet;
}

a {
  cursor: url(../images/click.svg) 3 0,auto!important;
  text-decoration: none;
  color:rgb(168, 94, 238) ;
}

a:hover {
  color: blueviolet !important;
  text-decoration: none;
}
.popover-txt {
  color: #220036;
  &:hover {
    color: #ff0095;
    text-decoration: none;
    font-weight: bold;
}
}

h1 {
  font-family: "Fredoka One",cursive;
  font-size: 32px;
  color: #fffb0e;
  -webkit-text-stroke: 2px #020102;
  text-align: center;
}

.icon {
  width: 100px;
  position: relative;
  margin: 0 auto;
  display: block;
}

.nav-bar {
  display: inline-block;

  width: 90px;
  height: 100vh;
  text-align: center;
  font-family:"Chicago";
  position: fixed;
}

.brand-description {
  font-family: "Fredoka One",cursive;
  font-size: 21px;    
  color: #fffb0e;
  -webkit-text-stroke: 0.8px #020102;
  text-align: center;
}
.pagination{
  margin: 0 auto;
  display: flex;
  padding-top: 5px;
  padding-bottom: 20px;
}

.page-item{
  font-family: "Chicago";
  text-decoration: none;
  cursor: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iMTMiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxMyAxNSI+PGc+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTEwNzEgLTM3MSkiPjxpbWFnZSB3aWR0aD0iMTMiIGhlaWdodD0iMTUiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEwNzEgMzcxKSIgeGxpbms6aHJlZj0iZGF0YTppbWFnZS9wbmc7YmFzZTY0LGlWQk9SdzBLR2dvQUFBQU5TVWhFVWdBQUFBMEFBQUFQQ0FZQUFBQS9JMFYzQUFBQWJFbEVRVlE0VDcyU1VRN0FJQWhEeC8wUGpVR3B3VHFJaWN2OE1XSWVyUlY1MXFWK0ZLb3Z4M2lwcW9NUjZlVVUvQnhpaDFNZ1ZUS3JacE1zRC9laDNYelRXd2hvWVBzeGhFWVI2ckhCU2htM0s1VzJ0alIrZ2ZEcENPTElJa09lQTBadmp5S09GczlYcW5nTk5SVk5RZ3V3Yk1RNEFBQUFBRWxGVGtTdVFtQ0MiLz48L2c+PC9nPjwvc3ZnPg==) 3 0, auto !important;
  font-size: 20px;
}

.page-item.active .page-link {
  background-color: #65d9ed;
  border-color: #65d9ed;
}

.page-link {
  color: #8a2be2;
}

// .navbar {
//   background-color: white;
//   // border-right: 1px solid rgba(0, 0, 0, 0.4);
//   // border-left: 1px solid rgba(0, 0, 0, 0.4);
//   border-bottom: 1px solid rgba(0, 0, 0, 0.4);
//   line-height: 1;
// }
// .navbar-light .navbar-nav .nav-link,
// .navbar-light .navbar-brand {
//   color: #0056b3;
//   &:hover {
//     color: #007bff;
//   }
// }
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  font-size: 17px;
  line-height: 12px;
  cursor: url(../images/click.svg) 3 0,auto!important;
  color: #000;
  span {
    background-color: rgb(255, 255, 255);

  }
  
}

.nav-link span {
  &:hover {
    border: 1px dotted #000;
    background: rgb(251, 255, 0);
    color: #000;
}
}

// .buttonFalse {
//   background-color: rgb(220, 148, 253);
//   border: 1px dotted rgb(255, 244, 244);
//   color: #020102;
// }

// .buttonTrue {
//   background-color: rgb(255, 255, 255);
//   opacity: 70%;
// }
@media (max-width: 1024px) { 
  
  .nav-bar {
    margin: 0;
    height: 90px;
    width: 100vw;
    display: flex-row;
    align-items: center;
    position: relative;
}
.window-2 {
  width: auto;
  left: auto;
}
.card-title h2 {
  font-size: 25px;
  -webkit-text-stroke: 1px #020102;
}

.media-body {
  font-weight: normal!important;
}

.gatsby-resp-image-image{
  width: 100%!important;
}


}