$dragbar-width: 3px;
$blue: #268Aff;
$black: rgb(20,20,20);
$green: #f5ceff;

* {
	box-sizing: border-box;
}

.window {
	position: relative;
	border-radius: 3px;
	resize: both;
	border-top: $dragbar-width solid $black;
	overflow: hidden;
	box-shadow: -10px 10px 0 0 rgba(black, .2);
	&.closed {
		transition: 500ms;
		opacity: 0;
		transform: translateY(-100px);
		pointer-events: none;
	}
}

.window-2 {
	left: 200px;
	top: 100px;
  width: 700px;
  background: $green;
  margin: 0 auto;
}

.window-content {
	max-height: calc(100% - 100px);
	overflow-y: auto;
	padding: 1rem;
	margin: 20px 10px;
	h1 {
		font-size: 2.5rem;
		margin-bottom: 22px;
	}
}

.window-header {
	background: white;
	min-height: 20px;
	padding: 5px 10px;
	display: flex;
	justify-content: flex-end;
	border-bottom: $dragbar-width solid $black;
	width: 100%;
	// cursor: grab;
	// .is-pointer-down & {
	// 	cursor: grabbing;
	// }
	&:hover, &:focus {
		background: darken(white, 10)
	}
}

.window-title {
	font-size: .9rem;
	font-weight: 600;
}

.window-singlepost {
	width: 800px;
    background: #f5ceff;
    margin: 0 auto;
}

.singlepost-text {
	margin: 45px;
	font-size: 18px;
}

[class*=window-control]{
	display: inline-block;
	height: 100%;
	line-height: 0;
	cursor: pointer;
	svg {
		position: relative;
		top: -2px;
		height: 20px;
		width: 20px;
	}
	
}

[class*=dragbar] {
	position: absolute;
	background: $black;
}
.dragbar-right {
	right: 0;
	top: 0;
	width: $dragbar-width;
	height: 100%;
	cursor: ew-resize;
}
.dragbar-bottom {
	bottom: 0;
	left: 0;
	height: $dragbar-width;
	width: 100%;
	cursor: ns-resize;
}
.dragbar-left {
	bottom: 0;
	left: 0;
	width: $dragbar-width;
	height: 100%;
	cursor: ew-resize;
}

.card {
  margin-bottom: 30px;
}

.card-text {
	margin: 40px;
}

.card-title {
	font-size: 23px;
}

.card-subtitle {
  margin: 0 auto;
} 

ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}

.card-image {
  width: 300px;
  display: flex;
  margin: 0 auto;
  padding: 100px;
}

.card-image-top {
	width: 300px;
	margin: 0 auto;
	padding: 100px;
}