:root {
	--shadow-medium: #bbb;
	--shadow-light: #fff;
	--shadow-dark: #9c9c9c;
	--window-white: #fefefe;
	--window-grey: #ebebeb;
	--border-color: #000;
	--desktop-color: #a3a3d4;
	--desktop-highlight: #cabcda;
	--desktop-page-header: #e6e6fa;
	--icon-background: #fff;
	--button-background: #fefefe;
	--button-shadow-dark: #282828;
	--button-shadow-light: #f8f8f8;
	--button-selected: #92cac3;
  }

$dragbar-width: 3px;
$blue: #268Aff;
$black: rgb(20,20,20);
$green: #f5ceff;

* {
	box-sizing: border-box;
}

.window {
	position: relative;
	border-radius: 3px;
	resize: both;
	border-top: $dragbar-width solid $black;
	overflow: hidden;
	box-shadow: -10px 10px 0 0 rgba(black, .2);
	&.closed {
		transition: 500ms;
		opacity: 0;
		transform: translateY(-100px);
		pointer-events: none;
	}
	background-repeat: repeat;
	background-image: url(../images/waves.svg),linear-gradient(180deg,#59a4d4 0%, #59ffe2 100%);
    background-color: #4ea8c0;;
    
}

.window-2 {
  max-width: 700px;
//   background: $green;
  margin: 0 auto;
}

.window-content {
	max-height: calc(100% - 100px);
	overflow-y: auto;
	h1 {
		font-size: 2.5rem;
		margin-bottom: 22px;
	}
}
@media (max-width: 1024px) { 
	.window-content > h1 {
		font-size: 2rem;
		margin-bottom: 22px;
	}
}

.window-header {
	background: white;
	min-height: 20px;
	padding: 5px 10px;
	display: flex;
	justify-content: flex-end;
	border-bottom: $dragbar-width solid $black;
	width: 100%;
	// cursor: grab;
	// .is-pointer-down & {
	// 	cursor: grabbing;
	// }
	&:hover, &:focus {
		background: darken(white, 10)
	}
}

.window-title {
	font-size: .9rem;
	font-weight: 600;
}

.window-singlepost {
	max-width: 800px;
    // background: #f5ceff;
    margin: 0 auto;
}

.singlepost-text {
	font-size: 18px;
    font-size: 18px;
    font-family: 'Roboto Mono',monospace;
    font-weight: 700;
}

[class*=window-control]{
	display: inline-block;
	height: 100%;
	line-height: 0;
	cursor: pointer;
	svg {
		position: relative;
		top: -2px;
		height: 20px;
		width: 20px;
	}
	
}

[class*=dragbar] {
	position: absolute;
	background: $black;
}
.dragbar-right {
	right: 0;
	top: 0;
	width: $dragbar-width;
	height: 100%;
}
.dragbar-bottom {
	bottom: 0;
	left: 0;
	height: $dragbar-width;
	width: 100%;
}
.dragbar-left {
	bottom: 0;
	left: 0;
	width: $dragbar-width;
	height: 100%;
}

.card {
  margin-bottom: 30px;
  background-color: #b974f9;
}

.card-text {
	margin: 40px;
	font-size: 18px;
    font-family: 'Roboto Mono',monospace;
    font-weight: 600;
}

.card-title, .card-title a {
	font-size: 32px;
	font-family: "Fredoka One",cursive;
    color: #fffb0e;
    -webkit-text-stroke: 2px #020102;
    text-align: center;
}
.card-title a:hover{
	text-decoration:none;
	color: #fffb0e!important;
}
.recent-post-card-title {
	font-family: 'Fredoka One', cursive;
}

.recent-post-card {
	width: 30%;
    max-height: 500px;
    margin: 15px;
}
.card-subtitle {
  margin: 0 auto;
}

.badge-light {
    color: #ffffff;
	background-color: blueviolet;
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}

.card-image {
	width: 85%;
    display: flex;
    margin: 0 auto;
}

.media-heading {
	font-size: 1.8rem;
	font-family: "Fredoka One",cursive;
	color: #b974f9;
    -webkit-text-stroke: 1px rgb(2, 1, 2);
}

.media-body {
	margin: 10px;
	font-family: 'Roboto Mono',monospace;
	font-weight: bold;
	font-size: 18px;
}

.highlighted {
    text-shadow: 2px 1px 0 var(--shadow-light);
}

.double-shadow {
  -webkit-box-shadow: 
    0 -3px 2px -1px var(--shadow-medium) inset, // bottom
    0 3px 2px -1px var(--shadow-light) inset, // top
    3px 0 2px -1px var(--shadow-light) inset, // left
    -3px 0 2px -1px var(--shadow-medium) inset, // right
    0 -2px 2px -1px var(--shadow-medium), // top
    0 2px 2px -1px var(--shadow-light), // bottom
    2px 0 2px -1px var(--shadow-light), // right
    -2px 0 2px -1px var(--shadow-medium); // left
  box-shadow: 
    0 -3px 2px -1px var(--shadow-dark) inset, // bottom
    0 3px 2px -1px var(--shadow-light) inset, // top
    3px 0 2px -1px var(--shadow-light) inset, // left
    -3px 0 2px -1px var(--shadow-dark) inset, // right
    0 -2px 2px -1px var(--shadow-medium), // top
    0 2px 2px -1px var(--shadow-light), // bottom
    2px 0 2px -1px var(--shadow-light), // right
    -2px 0 2px -1px var(--shadow-medium); // left
}

.item {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
    overflow: hidden;
  }

  .window1 {
	background-color: var(--header-color);
	button, button:active {
	  outline: 0;
	}
	button {
	  text-transform: none;
	  overflow: visible;
	  text-align: center;
	  font-size: 20px;
	  line-height: 20px;
	  border: 1px solid var(--border-color);
	  padding: 1px 25px;
	  margin: 0 5px;
	  border-radius: 4px;
	  font-family: "Chicago";
	  text-decoration: none;
	  cursor: url(../images/click.svg) 3 0,auto!important;
	}
  
	button:hover {
	  background-color: var(--button-background);
	  -webkit-box-shadow: 
		0 -2px 1px -1px var(--button-shadow-light) inset, 
		0 2px 1px -1px var(--button-shadow-dark) inset, 
		2px 0 1px -1px var(--button-shadow-dark) inset, 
		-2px 0 1px -1px var(--button-shadow-light) inset;
	  box-shadow: 
		0 -2px 1px -1px var(--button-shadow-light) inset, 
		0 2px 1px -1px var(--button-shadow-dark) inset, 
		2px 0 1px -1px var(--button-shadow-dark) inset, 
		-2px 0 1px -1px var(--button-shadow-light) inset;
	}
  }

