.site-footer {
  background-color: #fffaed;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;

.first-col {
  display: flex;
    margin: 20px;
    flex-direction: column;
    width: 25%;
}

.second-col {
  align-items: flex-end;
  display: flex;
  margin: 20px;
  flex-direction: column;
  width: 25%;
}

#explore {
  font-family: "Fredoka One",cursive;
  font-size: 24px;
  color: #fffb0e;
  -webkit-text-stroke: 1px #020102;
  text-align: center;
}

  .footer-social-links {
    text-align: center;

    ul.social-links-list {
      li {
        margin-right: 25px;
        display: inline-block;

        a {
          color: $dark-gray;

          &.instagram:hover {
            color: #e95950;
          }
          &.facebook:hover {
            color: rgb(66, 103, 178);
          }
          &.twitter:hover {
            color: rgb(56, 161, 243);
          }
          &.google:hover {
            color: rgb(221, 75, 57);
          }
          &.linkedin:hover {
            color: rgb(0, 119, 181);
          }
        }
      }
    }
  }
}
